#imgeProfil{
    border-radius: 50%;
}

.bg-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
  }

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: black; */
    padding: 1rem;
}
#list_logo{
    display: flex;
    flex-direction: row;
}
#list_logo a{
    margin-right: 5px;
}

/* .card{
    width: 30%;
} */